*{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
}

/*header*/
header{
    width: 100%;
    height: 60px;
    background-color: #386576;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header img{
    width: 171px;
    height: 30px;
    margin-left: 114px;
}

header a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    
    margin-right: 183px;
    margin-left: -147px;
}

/*section*/

.section4{
    width: 100%;
    height: 400px;
    padding-top: 100px;
}

.section4 div h1{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 42px;
    margin-top: -67px;
    font-size: 40px;
    color: #386576;
    text-decoration-color: #386576;

}

.type{
    text-align: center;

}

.type input{
    width: 723px;
    height: 37px;
    border: 1px groove #ced4da47;
    padding-left: 9px;
    color:#6ca3d5;
    border-radius: 6px;
    font-size: 16px;

}

.type input:hover{
    box-shadow: 2px 2px 2px;
}

.type textarea:hover{
    box-shadow: 2px 2px 2px;
}


.type textarea{
    width: 723px;
    height: 60px;
    border: 1px groove #ced4da47;
    padding-left: 9px;
    color:#6ca3d5;
    border-radius: 6px;
    font-size: 16px;
}

.section4  button{
    text-align: center;
    background-color: #fcc975;
    font-size: 17px;
    width: 199px;
    height: 57px;
    border: none;
    border-radius: 6px;
    margin-left: 43%;
}
.section4 button:hover{
    box-shadow: 2px 2px 2px;
}


.section4 div button a{
    text-decoration: none;
    color: whitesmoke;
}



/*footer*/

footer{
    width: 100%;
    height: 320px;
    background-color: #001f50;
    text-align: center;


}

footer h1{
    color: whitesmoke;
    font-size: 48px;
    padding-top: 40px;
}
footer p{
    color: whitesmoke;
    font-size: 18px;
}

.icon{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.s{
       width: 220px;
    height: 59px;
    color: whitesmoke;
    background-color: #154e64;
    font-size: 40px;
    margin-right: 46px;
    margin-top: 38px;
}

.s i:hover{
    color:#f79d16 ;
}



.last{
    text-align: center;
    color: whitesmoke;
    background-color: #154e64;
    width: 100%;
    height: 60px;
    letter-spacing: 1px;
    line-height: 59px;
}

.last a{
/*    text-decoration: none;*/
    color: #f79d16 ;
   
}

.last a:hover{
    color: blueviolet;
   
}